body {
  font-family: "Lato", "Arial", sans-serif !important;
  text-rendering: optimizeLegibility !important;
}

.nav-link:link,
.nav-link:visited {
  transition: color 0.2s;
}

.nav-link:hover,
.nav-link:active {
  color: #ffc107 !important;
}

.navbar {
  border-bottom: #ffc107 3px solid;
  opacity: 0.9;
  background: rgb(37, 37, 37);
}

#home-header {
  background: url(../img/home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

#home-header .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#home-header .home-inner {
  padding-top: 350px;
}
.carousel-image {
  margin-left: 15%;
  margin-right: 15%;
  max-width: 70%;
  height: auto;
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 70%;
  height: auto;
}

#filiais .section-title {
  color: rgb(58, 58, 58);
}

#filiais .card-body {
  background: rgb(58, 58, 58);
}

.fa-map-marker-alt {
  padding-left: 2px;
}

.fa-instagram {
  padding-left: 1px;
}

@media (max-width: 767px) {
  .navbar {
    font-size: 14px;
  }

  .nav-item {
    padding-left: 5px !important;
  }

  .section-title {
    font-size: 45px;
  }
}

@media (max-width: 398px) {
  .section-title {
    font-size: 35px;
  }
  .display-3 {
    font-size: 25px;
  }

  .section-subtitle {
    font-size: 15px;
  }

  #home-header .home-inner {
    padding-top: 150px;
  }
}
